.benefits {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

// .benefits__item:not(:last-child) {
//   margin-right: 30px;
// }

.benefits__item {
  @media screen and (min-width: 768px) {
    margin: 15px;
    flex-basis: calc((100% - 60px) / 2);
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 120px) / 4);
  }
  margin-bottom: 30px;
}

.benefits__box {
  display: flex;
  height: 120px;
  background-color: #f5f4fa;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.benefits__title {
  @include font($fw: 700, $lh: 1.14);
  text-transform: uppercase;
  color: $main-text-color;
  margin-bottom: 10px;
}

.benefits__text {
  @include font();
}
