.footer {
  background-color: $footer-bg-color;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__conteiner {
  display: flex;
  align-items: baseline;
}

.footer-about {
  margin-right: 70px;
}

.footer-about--logo {
  display: block;
  margin-bottom: 20px;
}

.footer-about__item {
  margin-bottom: 9px;
}

.footer-about__address {
  font-style: normal;
}

.footer-about__link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: $third-text-color;

  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.footer-about__link--address {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $footer-text-color;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.footer__title {
  @include font($fw: 700, $lh: 1.14);
  text-transform: uppercase;
  margin-bottom: 20px;

  color: $third-text-color;
}

.footer-social__link {
  background: $social-footer-bgcolor;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}

.footer-social__icon {
  fill: $social-footer-color;
}

.footer-input-wrap {
  display: flex;
}

.footer-form-wrap {
  margin-left: auto;
}

.footer__form {
  margin-left: auto;
}

.footer__input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: inherit;
  padding: 15px 16px;
  color: $third-text-color;
  margin-right: 12px;
  &::placeholder {
    font-size: 16px;
    line-height: 1.25;
    color: $footer-text-color;
  }
}

.footer__button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $accent-color;
  color: $third-text-color;
}

.footer__icon {
  margin-left: 10px;
  fill: $third-text-color;
}
