body {
  font-family: Roboto, sans-serif;
  color: $secondary-text-color;
}

.section__title {
  margin-bottom: 50px;
  text-align: center;
  @include font($fw: 700, $fs: 36px, $lh: 1.17);
  color: $main-text-color;
}

.button {
  display: block;
  min-width: 200px;
  height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  @include font(700, 16px, 1.87, 0.06em);
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  margin-left: auto;
  margin-right: auto;
}
