.filter {
  display: flex;
  @media screen and (max-width: 767.5px) {
    flex-wrap: wrap;
    margin-bottom: 40px;
  }
  @media screen and (min-width: 768px) {
    justify-content: center;
    margin-bottom: 30px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}

.filter__item {
  &:not(:last-child) {
    margin-right: 8px;
  }
  @media screen and (max-width: 767.5px) {
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
}

.filter__button {
  display: block;
  padding: 6px 22px;
  @include font($fw: 500, $fs: 16px, $lh: 1.62);
  color: $filter-button-color;
  background: $filter-button-bgcolor;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: $filter-button-color-hover;
    background-color: $accent-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
