.backdrop {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  background-color: $backdrop_background;
}

.backdrop.is-hidden {
  .modal {
    transform: translate(-50%, -50%) scale(0.5) rotate(-120deg);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.is-hidden {
  opacity: 0;
  visibility: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  width: 528px;
  min-height: 581px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  background: $modal_background;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  padding: 40px;
}

.modal__close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  &:hover,
  &:focus {
    fill: $accent-color;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.modal__title {
  text-align: center;
  @include font($fw: 700, $fs: 20px, $lh: 1.15);
  color: $main-text-color;
  margin-bottom: 12px;
}

.modal-form__label {
  display: block;
  @include font($fs: 12px, $lh: 1.17, $ls: 0.01em);
  color: $secondary-text-color;
  margin-bottom: 10px;
}

.modal-form__wrap {
  display: block;
  position: relative;
}

.modal-form__text {
  width: 100%;
  height: 40px;
  border: 1px solid $input-border-color;
  border-radius: 4px;
  padding-top: 11px;
  padding-right: 12px;
  padding-bottom: 11px;
  padding-left: 42px;
  margin-top: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    border-color: $accent-color;
  }
  &:focus + .modal-form__icon {
    fill: $accent-color;
  }
}

.modal-form__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__textarea {
  display: block;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin-top: 4px;
  resize: none;
  border: 1px solid $input-border-color;
  border-radius: 4px;
  &:focus {
    border-color: $accent-color;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &::placeholder {
    @include font($lh: 1.17, $ls: 0.01em);
    color: $input-placeholder-color;
  }
}

.modal-form__policy {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.modal-form__policy-text,
.modal-form__checkbox-link {
  @include font();
  color: $main-text-color;
}

.modal-form__checkbox-link {
  text-decoration-line: underline;
  color: $accent-color;
}

.modal-form__check-mark {
  width: 16px;
  height: 15px;
  border: 2px solid $check-border-color;
  border-radius: 2px;
  margin-right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .modal-form__checkbox:checked + & {
    background-color: $accent-color;
    border: none;
  }
}

.modal-form__button {
  &:hover,
  &:focus {
    background-color: $modal-button-bgcolor-hover;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  background: $accent-color;
  color: $modal-button-color;
  margin: 0 auto;
}
