$accent-color: #2196f3;

$header-logo-color: #000000;
$footer-logo-color: #ffffff;

$head-underline-color: #ececec;

$main-text-color: #212121;
$secondary-text-color: #757575;
$third-text-color: #ffffff;

$hero-bg-color: #c4c4c4;

$team-bg-color: #f5f4fa;
$team-block-bg: #ffffff;
$social-color: #afb1b8;
$sotial-color-hover: #ffffff;

$lients-link-color: #afb1b8;

$footer-bg-color: #2f303a;
$footer-text-color: rgba(255, 255, 255, 0.6);
$social-footer-color: #ffffff;
$sotial-footer-color-hover: #ffffff;
$social-footer-bgcolor: rgba(255, 255, 255, 0.1);

$portfolio-thumb-hover: rgba(33, 150, 243, 0.9);

$filter-button-bgcolor: #f5f4fa;
$filter-button-color: #212121;
$filter-button-color-hover: #ffffff;

$portfolio-border-color: #eeeeee;
$portfolio-overlay-color: #ffffff;
$portfolio-overlay-bgcolor: #2196f3;

$backdrop-background: rgba(0, 0, 0, 0.2);
$modal-background: #ffffff;
$modal-button-color: #ffffff;
$modal-button-bgcolor: #2196f3;
$modal-button-bgcolor-hover: #188ce8;
$input-border-color: rgba(33, 33, 33, 0.2);
$input-placeholder-color: rgba(117, 117, 117, 0.5);
$check-border-color: #212121;
